body{
  background:#a5d1ee;
  margin:}

form{
width:350px;
height:440px;
height:440px;
height:440px;
background:#c1eff0;
border-radius:8px;
box-shadow:0 0 40xp -10px #000;
margin:calc(50vh-220px) auto;
padding.px 30px;
max-whidth:calc(100vw-40px);
box-sizing:border-box;
front-family:'montserrat',sans-serif;
position:relative
}

h2{
margin:10px 0;
padding-button:10px;
width:180xp;
color:#78788c;
border-button:3px solid #78788c
}

input{
width:100%;
padding:10px
box-sizing:border-box;
background:none;
outline:none;
resize:none 
border:0;
font-family:'montserrat',sans-serif;
transitin:all .3s;
border-button:px solid #bebed2
}
input:focus {
border-button:px solid #78788c}
p:before{
conten:attr(type);display:block;margin:28px 0 0;
font-size:14px;color:red}
button{
float-rigth
padding:8px 12px;
margin:8px 0 0;
font-family:'montserrat',sans-serif;
border:2px solid #78788c;
background:0;
color:blue;
cursor:pointer; 
traition:all. 3s}

button:hover{background:#78788c;color:#fff}

div{
  content:Hi
position:absolute;
bottom:-20px;
rigth:-20px;
background:#50505a;
color:#fff;
width:320px;
padding:16px 4px 16px 0;
border-radius:6px;
front-size:13px;
box-shadow:10px 10px 40px-14px#000}

span {margin:0 5px 0 15px}

.mensaje {
  
  margin-bottom: 2rem;
  background-color: gainsboro;
  color:black;
  padding: 1rem 3rem;
  border-radius: 10px;
  font-size: 1.5rem;
  position:fixed;
right:20px;
top: 300 px;
  
}

.mensaje:empty {
  display: none;
}

.mensaje p {
  margin: 1em 0;
}
